/*global styling*/
html {
    overflow-y: scroll;
}
body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    text-align: center;
}
.center {
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
}

.center ul li a, .center ul li a:link, .center ul li a:visited,
.center a, .center a:link, a:visited
 {
    color: #000000;
    text-decoration: underline;
}
/*    line-height:20px;
    font-size:14px;
    text-align:center; */

/*header and footer properties*/
.header {
    background: #FFFFFF;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    top: 0;
    left: 0;
    z-index: 1;
}
#headerName {
    text-align: center;
    color: #000000;
    font-family: 'Arial', Helvetica, sans-serif;
   font-size: 16px;
    font-weight: bolder;
}
#main {
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 14px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 70%
}
#footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:70%;
    height:25px;
    position:relative;
    bottom: 0;
    left: 0;
    border-top: solid 1px #000000;
    color: #000000;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 0px;
}


/* navigation bar*/
#nav_bar {
    border-top: none;
    border-bottom: none; /*solid 1px #000000;*/
    right:0px;
    float: center;
    width: 100%;
    margin-top: 0px;
    z-index: 100;
    font-size: 14px;
}
#nav_bar  ul {
    right: 0px;
    width: 400px;
    height: 40px;
    margin: 0px auto;
    z-index:-1;
    padding-left:0px;
    overflow:hidden;
}
.main-menu {
    position:relative;
    z-index:-1;
}
.main-menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
.main-menu ul a:hover {
    background-color: none;
}
.main-menu ul li {
    display:inline;
}
.main-menu ul li a,.main-menu ul li a:link,.main-menu ul li a:visited {
    color: #000000;
    line-height:20px;
    font-size:14px;
    text-align:center;
    text-decoration: underline;
}
.main-menu ul li a:hover {
    color: none;  
}
.main-menu ul li a {
    display:inline-block;
    padding:5px 15px 5px 15px;
    text-decoration:none;

}
* html .main-menu ul li a {
    display:inline-block;
}
.main-menu ul li ul {
    position:absolute;
    left:0px;
    display:block;
    visibility:hidden;
}
.main-menu ul li ul li {
    display:list-item;
    float:none;
}


/*alignment styling all*/
/*article, contacts, and text alignment*/
#article {
    text-align: left;
}

/*list of publications*/
.publist {
    list-style-type: square;
}

/*contacts style - centered*/
#contacts {
    text-align: center;
}

/* embedded image alignment*/
.image-top-right {
    float: right;
    margin: 0px 15px 15px 15px;
}
.image-middle-right {
    float: right;
    margin: 15px 15px 15px 15px;
}
.image-bottom-right {
    float: right;
    margin: 15px 15px 0px 15px;
}
.image-top-left {
    float: left;
    margin: 0px 15px 15px 15px;
}
.image-middle-left {
    float: left;
    margin: 15px 15px 15px 15px;
}
.image-bottom-left {
    float: left;
    margin: 15px 15px 0px 15px;
}
.image-center {
    float: center;
    margin: 15px 15px 15px 15px;
}


/* font styling*/
figcaption {
    text-align: center;
    font-style: oblique;
}
h2 {
    text-align: left;
}


/*image styling*/
img {
    max-width: 350px;
    max-height: 350px;
}


/*list styling*/
ul {
    list-style-type: none;
}

ul.a {
    list-style-type: square;
}

ol {
	list-style-type: decimal;
}
